<script>
  import { flip } from "svelte/animate";

  import todos from "../../stores/todos.store";
  import TodoItem from "../../components/todos/todo.component.svelte";
  import Input from "../../components/inputs/input.component.svelte";

  let input = "";

  const addItem = () => {
    if (input) {
      todos.add(input);
      input = "";
    }
  };

  $: todoItems = $todos.filter(i => !i.done);
  $: doneItems = $todos.filter(i => i.done);
</script>

<style lang="scss">
  @import "variables";
  @import "modules/todos";
</style>

<h1>Jak získat práci:</h1>
<form on:submit|preventDefault={addItem}>
  <Input
    placeholder="Přidejte úkol..."
    value={input}
    on:input={e => (input = e.target.value)} />
</form>
{#if !$todos.length}
  <h2>Nechtělo by to nějaké úkoly?</h2>
{:else}
  {#if todoItems.length}
    <p>Zbývá dokončit:</p>
  {/if}
  {#each todoItems as item (item.id)}
    <div animate:flip={{ duration: 250 }}>
      <TodoItem {item} on:update={todos.update} on:remove={todos.remove} />
    </div>
  {:else}
    <h2>Hurá! Vše je hotovo.</h2>
  {/each}
  <hr />
  {#if doneItems.length}
    <p>Hotovo:</p>
  {/if}
  {#each doneItems as item (item.id)}
    <div animate:flip={{ duration: 250 }}>
      <TodoItem {item} on:update={todos.update} on:remove={todos.remove} />
    </div>
  {:else}
    <h2>Ještě toho zbývá tolik udělat...</h2>
  {/each}
{/if}
