<script context="module">
  import todos from "../stores/todos.store";
  export async function preload() {
    await todos.init();
  }
</script>

<script>
  import Todos from "../modules/todos/todos.module.svelte";
</script>

<svelte:head>
  <title>Todos</title>
</svelte:head>

<Todos />
