label {
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.6rem;
	line-height: 1;
	padding: 15px;
	cursor: pointer;
	margin-bottom: 10px;
	border-radius: 2px;
	background-color: map-get($color, light);
	user-select: none;
	color: map-get($color, dark);
	transition: background-color 0.3s;
	&:hover {
		background-color: rgba(map-get($color, light), $alpha: 0.75);
	}
	&.isDone {
		background-color: map-get($color, success);
	}
}
span {
	width: 100%;
}
input {
	margin-right: 10px;
}
button {
	position: relative;
	float: right;
	height: 20px;
	width: 20px;
	margin-left: 10px;
	box-sizing: border-box;
	line-height: 1;
	cursor: pointer;
	background-color: map-get($color, dark);
	border-radius: 50rem;
	border: none;
	outline: none;
	transition: opacity 0.3s;
	color: map-get($color, light);
	opacity: 0;
	&:after {
		content: "";
	}
}

label:hover button {
	opacity: 1;
}
