<script>
  export let value;
  export let placeholder = "";
  export let type = "text";
</script>

<style lang="scss">
  @import "components/input";
</style>

<input {type} {placeholder} {value} on:input />
