html {
	font-size: 62.5%;
}
body {
	position: relative;
	background-color: map-get($color, dark);
	color: map-get($color, light);
	font-family: "Montserrat", sans-serif;
	font-size: 1.6rem; // => 16px
}
main {
	width: 100%;
	max-width: 480px;
	margin: 80px auto;
	padding: 0 15px;
	@media screen and (min-width: map-get($breakpoint, MD)) {
		padding: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Abril Fatface", cursive;
}
