p {
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 1.3rem;
	font-weight: bold;
	opacity: 0.35;
}
hr {
	margin: 25px auto;
	border-color: rgba(map-get($color, light), 0.1);
}
