<script>
  import { createEventDispatcher } from "svelte";

  export let item;

  const dispatch = createEventDispatcher();
</script>

<style lang="scss">
  @import "variables";
  @import "components/todo";
</style>

<label class:isDone={item.done}>
  <input
    type="checkbox"
    bind:checked={item.done}
    on:change={() => dispatch('update', item)} />
  <span>{item.title}</span>
  <button on:click|preventDefault={() => dispatch('remove', item)}>x</button>
</label>
